head {display: block; background-color: #9E6B77; width: 100%; color: #04151f; font-size: 40px; font-weight: bold; margin-bottom: 10px}

songs {background-color: #eef0f2; width: 100%; margin: 5%;}

song {display: block; background-color: #c6c7c4; padding-top: 10px;}

name {display: block; font-size: 20px; color: #6c464f; font-weight: bold}

artist {display: block; font-size: 18px; color: #04151f}

genre, year {display: block; font-size: 16px; color: #04151f}

genre:before {content: "Genre: "}

year:before {content: "Released: "}
