head {background-color: #885053; width: 100%; color: #04151f; font-size: 40px; font-weight: bold; font-family: 'Dancing Script', cursive; margin-bottom: 10px}

songs {background-color: #eef0f2; width: 100%; margin-left: 5%;}

song {display: block; color: #c6c7c4; padding-top: 10px;}

name {display: block; font-size: 20px; color: #6c464f; font-weight: bold}

artist {display: block; font-size: 18px; color: #04151f}

genre, year {display: block; font-size: 16px; color: #04151f}

genre:before {content: "Genre: "}

year:before {content: "Released: "}
